.footer {
  background: #333333;
  margin-top: auto;
}
.footer * {
  color: white;
}
.footer__main {
  padding: 60px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.footer__logo__desc {
  margin-top: 10px;
  font-weight: normal;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.63);
}
.footer__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
          align-items: flex-start;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
          justify-content: space-between;
}
.footer__nav__label {
  font-weight: normal;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.5);
}
.footer__nav__links {
  list-style-type: none;
  -webkit-column-count: 2;
          column-count: 2;
  line-height: 2.5;
  margin-top: 20px;
}
.footer__nav__links a {
  font-size: 14px;
  padding-right: 60px;
}
.footer__contacts {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto-fill, minmax(-webkit-max-content, 0));
  grid-template-rows: repeat(auto-fill, minmax(max-content, 0));
  grid-gap: 20px;
  justify-items: end;
}
.footer__contact {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
          align-items: flex-start;
}
.footer__contact__icon {
  margin-right: 10px;
  margin-top: 5px;
}
.footer__contact__title {
  font-weight: 500;
  font-size: 20px;
}
.footer__bottom__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
          align-items: flex-start;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  padding: 30px 0;
}
.footer__text {
  font-weight: normal;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.5);
}
@media screen and (max-width: 1000px) {
  .footer__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
            flex-direction: column;
  }
  .footer__nav {
    margin-top: 40px;
  }
  .footer__nav__links {
    -webkit-column-count: 1;
            column-count: 1;
  }
  .footer__contacts {
    justify-items: start;
    margin-top: 40px;
  }
}
@media screen and (max-width: 600px) {
  .footer__bottom__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
            flex-direction: column;
  }
  .footer__text {
    margin-top: 20px;
  }
}
